
    <h1 class="text-center">People in your Network</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>title</th>
      <th>email</th>
      <th>employer</th>
      <th>notes</th>

      <th colspan="3"></th>
    </tr>
    <% @persons.each do |person| %>
      <tr>
        <td><%= link_to(person.name, person_path(person.id)) %></td>
        <td><%= person.age %></td>
        <td><%= person.title %></td>
        <td><%= person.email %></td>
        <td><%= person.employer %></td>
        <td><%= person.notes %></td>

      </tr>
    <% end %>
</table>


<%= link_to 'New person', new_person_path %>