<% if notice %>
<div id="notice" class="well bg-info">
  <%= notice %>
</div>
<% end %>
<h1>
<%= @person.name %>
<br>
</h1>
<%= @person.age %>
<%= @person.title %>
<%= @person.email %>
<%= @person.employer %>
<%= @person.notes %>
<br>
<br>
<%= link_to 'Edit Person', edit_person_path(@person), class: 'btn btn-info' %>
<h1> Connections of <%=@person.name %>  </h1>

<table>
  <tbody>
    <% @person.knows.each do |contact| %>
    <tr>
      <td><%= link_to(contact.name, person_path(contact)) %></td>
      <td><%= contact.age %></td>
      <td><%= contact.title %></td>
      <td><%= contact.email %></td>
      <td><%= contact.employer %></td>
      <td><%= contact.notes %></td>
    </tr>

    <% end %>
  </tbody>
</table>

<h1> Add Connection to <%=@person.name %>  </h1>

<%= render 'addconnection' %>



<p>

<%= link_to 'Back', people_path, class: 'btn btn-default' %>
</p>